<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <!-- Mobile Navbar -->
    <div class="menu_mobile">
        <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
        <div class="logo_mobile">Restaurant Apps</div>
        <div class="logo_mobile">&nbsp;</div>
    </div>
    <nav id="drawer" class="nav_mobile">
        <ul class="nav_list_mobile">
            <li class="nav_items_mobile"><a href="index.html">Home</a></li>
            <li class="nav_items_mobile"><a href="#">Favorite</a></li>
            <li class="nav_items_mobile"><a href="https://github.com/Ilhamokta74">About Us</a></li>
        </ul>
    </nav>
    <!-- Desktop Navbar -->
    <nav class="nav">
        <a class="logo" href="index.html">Restaurant Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="index.html">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a href="https://github.com/Ilhamokta74">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Restaurant Apps</h1>
            <p class="herosubtitle">Find the best restaurants only on the best websites.</p>
        </div>
    </div>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2022 - Restaurant Apps</p>
    </footer>
</body>
</html>