@media screen and (max-width: 714px) {
	.nav {
		display: none
	}
	.nav_mobile {
		z-index: 10;
		background-color: #fff;
		width: 100%;
		position: absolute;
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
		transition: transform 0.3s ease
	}
	.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	.nav_items_mobile {
		display: list-item;
		color: black !important;
		width: 100%;
		text-align: left
	}
	.logo_mobile {
		font-size: 2.5em;
	}
	footer {
		font-size: 15px;
	}
}
@media screen and (min-width: 715px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 16px
	}
	.menu_mobile {
		display: none
	}
	.nav_mobile {
		display: none
	}
	.logo {
		font-size: 20px;
	}
	.navitems {
		font-size: 17px;
	}
	footer {
		font-size: 17px;
	}
}
@media screen and (min-width: 900px) {
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 25px
	}
	.menu_mobile {
		display: none
	}
	.nav_mobile {
		display: none
	}
	.logo {
		font-size: 20px;
	}
	.navitems {
		font-size: 15px;
		padding-top: 10px;
	}
	footer {
		font-size: 20px;
	}
}
@media screen and (min-width: 1200px) {
	main {
		padding: 0 50px;
	}
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr
	}
	.logo {
		font-size: 25px;
	}
	.navitems {
		font-size: 20px;
		padding-top: 10px;
		padding-right: 30px;
	}
}
@media screen and (min-width: 1500px) {
	main {
		padding: 0 50px;
	}
	.list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr
	}
}